:root {
    --primarioL3:#A1C2DB;
    --primarioL2:#6B90AD;
    --primarioL1:#016EC2;
    --primario:#045593;
    --primarioS1:#014171;
    --primarioS2:#023052;
    --primarioS3:#111A2A;
    --secundarioL3:#E0D4F8;
    --secundarioL2:#C5A7FF;
    --secundarioL1:#9A65FF;
    --secundario:#7844DC;
    --secundarioS1:#5831A2;
    --secundarioS2:#472686;
    --secundarioS3: #1F123A;
    --acentoL3:#F6C9F4;
    --acentoL2:#F6A2F3;
    --acentoL1:#F373EE;
    --acento:#F24BEB;
    --acentoS1:#D93FD3;
    --acentoS2:#9F1E9A;
    --acentoS3:#550251;
    --blanco:#FAF8FF;
    --negro: #0E071D;
    --exito:#35F72B;
    --alerta:#EC5151;
    --banner:#282DE3;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: sans-serif;    
    color: var(--primarioL3);
    background-color: var(--secundarioS3);
}

.container {
    background-color: var(--negro);
}

@media only screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .encabezado {
        display: flex;
        justify-content:  space-between;
        height: 100px;
        background-color: var(--primarioS1);
    }

    .contenedor-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    .grid-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 40%;
        grid-template-rows: 90% 10%;
        height: 300px;
        background-color: var(--primarioS3);
    }
    
    .grid-fila-footer {
        color: var(--secundarioS3);
        text-align: center;
        vertical-align: middle;
        grid-column-start: 1;
        grid-column-end: span 4;
        background-color: var(--blanco);
    }

    .columna-footer {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .columna-footer>h3 {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .container {
        width: 1126px;
        background-color:var(--negro);
    }

    .card-destacada {
        display: flex;
        flex-direction: row;
        width: 1040.27px;
        height: 425px;
        background-color:var(--primarioS2);
    }

    .imagen-card-destacada {
        width: 639.05px;
        height: 425px;
    }

    .texto-card-destacada{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }
    .titulo-card-destacada {
        width: 100%;
        
    }

    .titulo-card-destacada {
        width: 60%;
    }

    .boton-card-destacada {
        flex-wrap: nowrap;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 235px;
        height: 350px;
        background-color:var(--primarioS2);
        border-radius: 20px;

    }
    
    .imagen-card {
        width: 235px;
        height: 170px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .texto-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }


}