.spritesheet{
    width: 80px;
    height: 90px;
    background: url('../img/sprite.png') left center;
    animation: caminar 1s steps(9) infinite ;
}

.spritesheet:hover{
    background: url('../img/sprite2.png') left center;
    animation: susto 1s steps(12) infinite ;
}

@keyframes caminar {
    0%{
        background-position: 0px;
    }
    100% {
        background-position: -720px;
    }    
}

@keyframes susto {
    0%{
        background-position: 0px;
    }
    100% {
        background-position: -960px;
    }    
}