*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #000;
    width: 1280px;
}

.container1280{
    width: 1280px;
    margin: auto;
    background-color: #FFF;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.elastic{
    display: block;
    width: 100%;
}

.fixed{
    width: 1080px;
    margin: auto;
}

.sticky {
    position: sticky;
    top:0px;
}

.relative{
    position: relative;
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #5499F9;
    z-index: 998;
}

.menuHamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 0px 0px 8%;
    padding: 0px;
    border: 0px;
    z-index: 990;
}

.barramenu{
    height: 4px;
    width: 34px;
    background-color: #FFE901;
    border: 4px solid #2981FF;
    border-radius: 10px;
    
}

.btn{
    color: #02187E;
    background: #FFE901;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    border-radius: 111px;
    border: 8px solid #2982FF;
    flex-shrink: 0;    
    -webkit-text-stroke: 2px;
}

.btnComprar{    
    width: 200px;
    height: 50px;
    margin: 0px 8% 0px 0px;
}

.sombraAzul{
    box-shadow: 4px 5px 0px 0px  #02187E;
}

.logoSpidey{
    width: 46%;
    margin: auto;
    z-index: 999;
    background-color: transparent;
    transition: width 0.5s;
}

.logoSpidey img{
    display: block;
    width: 100%;
}

.logoSpidey.small {
    width: 15%;
}

.fondoCieloNubes {
    position: absolute;
    top: -375px;
    width: 100%;
    z-index: 900;
}

.fondoCieloNubes img {
    object-fit: cover;
    width: 100%;
}

.fondoEdificios{
    width: 100%;
    position: absolute;
    top: -270px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 901;
}

.tresSpideys{
    display: flex;    
    justify-content: center;
    z-index: 902;
    position: absolute;
}

.mainSpideyBlanco{
    position: relative;
    top:-10px;
    left: 100px;
}

.mainSpideyRojo{
    position: relative;
    left: 70px;
    top:20px;
}

.mainSpideyNegro{
    position: relative;
    right: 45px;
    top: -70px;
}

.telaIzq{
    z-index: 903;
    position: relative;
    left: -155px;
    top: -8px;
}

.telaDer {
    display: block;
    z-index: 903;
    position: relative;
    right: -1070px;
    top: -690px;
}

.amigos{
    background-color: #8F6AA6;
    color: #FFFFFF;
}

.duende {
    position: absolute;
    top:-85px;
    right:-100px;
}

.cards{
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 125px;
}

.flexcard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexcard img{
    margin-bottom: 25px;
}

.bannerGhost{
    position: relative;
}

.bannerGhost img{
    width: 100%;
    z-index: 900;
}

.demo01{
    position: absolute;
    top:-160px;
    z-index: 900;
}

.demo02{
    position: absolute;
    top:-40px;
    z-index: 900;
}

.demo03{
    position: absolute;
    top:150px;
    left: 30px;
    z-index: 900;
}

.vengadores{
    padding-top: 130px;
    background-color: #000;
    color: #FFF;
    z-index: 800;
}

.vengadores h2{
    padding-bottom: 55px;
}

.fondoVengadores{
    position:absolute;
    top: 0px;
    z-index: 800;
}

.z801{
    z-index: 801;
}

.z802{
    z-index: 802;
}

.z803{
    z-index: 803;
}

.veng01{
    z-index: 802;
    top:110px;
    right:-1140px;
}

.veng02{
    z-index: 804;
    top:-255px;
    left:450px;
}

.veng03{
    z-index: 804;
    top: -95px;
    left: 25px;
}

.masAmigos{
    position: relative;
    top: 580px;
}

.stickyCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0px;;
}

.imgSticky{
    position: relative;
    width: 550px;
}

.imgSticky img{
    width: 550px;
}

.stickyText{
    width: 470px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stickyText h3{
    font-size: 40px;
    font-weight:normal;
    margin-bottom: 20px;
}

.frase{
    top:600px;
    background-color: #000;
    color: #FFF;
}

.frase h2 {
    font-weight: normal;
    padding: 50px 0px;
}

.btnCompAhora {
    width: 290px;
    height: 65px;
}

.btnTexto{
    font-weight: bolder;
}

.frase > .fixed {
    padding-bottom: 35px;
}

.spideysHover{
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top:600px;
    background-color: #FFF;
}

.newsletter{
    top: 600px;
    background-color: #234499;

}
.fondoNewsLetter{
    top: 700px;
}

.fondoNewsLetter img{
    width: 100%;
    z-index: 700;
}

.fondoCiudadNewsLetter{
    position: absolute;
    top:576px;
}

.contenidoNewsLetter{
    padding-top: 100px;
    position: absolute;
    top: 0px;
    left:100px;
    color: #000;
    z-index: 701;
    text-align: center;
}

.contenidoNewsLetter>p{
    text-align: left;
    margin-left: 200px;
}

.contenidoNewsLetter>p>a{
    color: #000;
    text-decoration: underline;
}
.inputForm{   
    display: flex; 
    width: 780px;
    height:100px;
    margin: 45px auto;
}

.inputForm input::placeholder {
    padding-left: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
}

.inputLeft{
    width: 562px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982ff;
    border-bottom: 9px solid #2982ff;
    border-left: 9px solid #2982ff;
    background: #fff;
    box-sizing: border-box;
}

.inputRight{
    width: 218px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982ff;
    background: #ffe901;
    color: #02187e;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px; 
    -webkit-text-stroke: 2px;
}

.rating {
    width: 231px;
    height: 145px;
    margin: 20px 0px 0px 200px;
}

.rating img{
    width: 100%;
}

.separadorFooter {
    background: #242424;
    height: 80px;
    top:596px
}

.footer {
    height: 598px;
    top:596px;
    background: #5E5E5D;
}

.footer>.fixed>p{
    color: #FFF;
    font-size: 20px;
    letter-spacing: 2.2px;
    font-style:normal;
    font-weight: 400;
    line-height: 94.5%;
}

.footer>.fixed>p:first-child {
    padding-top: 42px;
}

.footer>.fixed>p:nth-child(2) {
    margin-top: 35px;
    text-decoration: underline;
}

.socialMedia{
    margin-top: 38px;
}

