*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #000;
    width: 1280px;
    margin: auto;
}

.container1280{
    width: 1280px;
    margin: auto;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    top: -287px;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.loaderContainer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: 999;
    animation-name: cambioColor;
    animation-duration: 6s;
}

.loader{
    width: 180px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telarania{
    position: absolute;
    left: 100px;
    top:0px;
    z-index: 999;
}

.arania{
    position: absolute;
    top: -200px;
    left: 500px;
    z-index: 1000;
}

.porcentaje{
    position: absolute;
    left: 475px;
    top: 400px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing:9px;
    -webkit-text-stroke: 1px;
}

.lineaBlanca{ 
    position: absolute;
    left: 610px;
    top: -395px;
    transform: translateX(-50%);
    width: 2px;
    height: 330px;
    background-color: #FFFFFF;
}

.noMostrar{
    display: none;
}

.elastic{
    display: block;
    width: 100%;
}

.fixed{
    width: 1080px;
    margin: auto;
}

.sticky {
    position: sticky;
    top:0px;
}

.relative{
    position: relative;
}

header{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #5499F9;
    z-index: 998;
}

.menuHamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 0px 0px 8%;
    padding: 0px;
    border: 0px;
    z-index: 990;
}

.barramenu{
    height: 4px;
    width: 34px;
    background-color: #FFE901;
    border: 4px solid #2981FF;
    border-radius: 10px;
    transition: all 0.6s ease;
    transform-origin: left;
    
}

.barra01_x {
    rotate: 33deg;    
}

.barra02_x {
    opacity: 0;
}

.barra03_x{
    rotate: -33deg;    
}

.btn{
    color: #02187E;
    background: #FFE901;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    border-radius: 111px;
    border: 8px solid #2982FF;
    flex-shrink: 0;    
    -webkit-text-stroke: 2px;
}

button.btn{
    overflow: hidden;
}

button.btn:hover{
    animation: tembleke 0.5s ease-in-out forwards;
    cursor:pointer;
}


.btnComprar{    
    width: 200px;
    height: 50px;
    margin: 0px 8% 0px 0px;
}

.sombraAzul{
    box-shadow: 4px 5px 0px 0px  #02187E;
}

.logoSpidey{
    width: 44%;
    margin: auto;
    z-index: 998;
    background-color: transparent;
    transition: width 0.4s;
}

.logoSpidey img{
    display: block;
    width: 100%;
}

.logoSpidey.small {
    width: 12%;
}

.mainLogo{
    height: 630px;
}

.fondoCieloNubes {
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 900;
}

.fondoCieloNubes img {
    object-fit: cover;
    width: 100%;
}

.fondoEdificios{
    width: 100%;
    position: relative;
    top: -675px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 901;
}

.edificio01{
    width: 30%;
}

.edificio02{
    width: 40%;
}

.edificio03{
    width: 30%;
}

.tresSpideys{
    display: flex;    
    justify-content: center;
    z-index: 903;
    position: absolute;
    top: -200px;
}

.mainSpideyBlanco{
    position: absolute;
    top:550px;
    left: 103px;
}

.mainSpideyRojo{
    position: absolute;
    top:570px;
    left: 420px;
}

.mainSpideyNegro{
    position: absolute;
    top: 500px;
    left: 735px;
}

.telaIzq{
    z-index: 903;
    position: absolute;
    left: -175px;
    top: 345px;
}

.telaDer {
    display: block;
    z-index: 903;
    position: absolute;
    left: 1020px;
    top: 350px;
}

.separador01 {
    position: relative;
    top: 80px;
    width: 100%;
    height: 200px;
    background: #8F6AA6;
    z-index: 902;
    transform: skewY(-3deg);
    transform-origin: top left;
}

.amigos{
    background-color: #8F6AA6;
    top:10px;
    color: #FFFFFF;
    z-index: 902;
}

.amigos h2{
    z-index: 905;
}

.imgAmigos{
    position: absolute;
    z-index: 906;
}

.duende {
    position: absolute;
    top:-125px;
    right:0px;
    z-index: 906;
}

.separador02 {
    position: relative;
    top: -90px;
    width: 100%;
    height: 465px;
    background: #8f6aa6;
    z-index: 901;
    transform: skewY(7deg);
    transform-origin: top right;
}

.cards{
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 125px;
}

.flexcard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    translate: 0 70vh;
}

.flexcard img{
    margin-bottom: 25px;
}

.bannerGhost{
    position: relative;
    top: -450px;
    z-index: 801;
}

.bannerGhost img{
    width: 100%;
    z-index: 900;
}

.demo01{
    position: absolute;
    top:-160px;
    z-index: 900;
}

.demo01>img:hover{
    cursor:pointer;
}

.demo02{
    position: absolute;
    top:-40px;
    z-index: 900;
}

.demo02>img:hover{
    cursor: pointer;
}

.demo03{
    position: absolute;
    top:120px;
    left: 30px;
    z-index: 900;
}

.demo03>img:hover{
    cursor: pointer;  
}

.demoIn{
    animation: demoIn 0.7s ease forwards;
}

.demoOut{
    animation: demoOut 0.7s ease forwards;
}
.vengadores{
    padding-top: 250px;
    top: -100px;
    background-color: #000;
    color: #FFF;
    z-index: 800;
}

.vengadores h2{
    padding-bottom: 55px;
}

.fondoVengadores{
    position:absolute;
    top: 0px;
    z-index: 800;
}

.z801{
    z-index: 801;
}

.z802{
    z-index: 802;
}

.z803{
    z-index: 803;
}

.veng01{
    z-index: 802;
    top:110px;
    right:-1140px;
}

.veng02{
    z-index: 804;
    top:-255px;
    left:450px;
}

.veng03{
    z-index: 804;
    top: -95px;
    left: 25px;
}

.separador05{
    position: relative;
    top: -100px;
    left: 0;
    width: 100%;
    height: 500px;
    background: #000000;
    z-index: 700;
    transform: skewY(5deg);
    transform-origin: top right;
}

.masAmigos{
    position: relative;
    top: 55px;
}

.masAmigos h2{
    width: 100%;
}

.masAmigosLayout{
    display: flex;
    justify-content: space-between;
}

.colSticky{
    width: 550px;
}

.colTexto{
    width: 467px;
}

.imgSticky{
    padding: 50px 0;
    position: fixed;
    top:150px;
    width: 550px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.imgSticky img{
    width: 100%;
}

.stickyText{
    padding: 100px 0;
    width: 470px;
    transition: opacity 1s ease-in-out;
}

.stickyText:first-child{
    margin-top: 100px;
}

/* .stickyCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0px;
    position: sticky;
    top:100px;
}

.imgSticky{
    position: relative;
    width: 550px;
}

.imgSticky img{
    width: 550px;
}

.stickyText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
*/

.stickyText h3{
    font-size: 40px;
    font-weight:normal;
    margin-bottom: 20px;
} 

.separador03{
    position: relative;
    top: 375px;
    width: 100%;
    height: 200px;
    background: #000000;
    z-index: 0;
    transform: skewY(5deg);
    transform-origin: top right;
  }

.frase{
    top:175px;
    background-color: #000;
    color: #FFF;
    z-index: 905;
}

.separador04{
    position: relative;
    top: 90px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #000000;
    transform: skewY(-5deg);
    transform-origin: top left;
}
.frase h2 {
    font-weight: normal;
    padding: 50px 0px;
}

.btnCompAhora {
    width: 290px;
    height: 65px;
}

.btnTexto{
    font-weight: bolder;
}

.frase > .fixed {
    padding-bottom: 35px;
}

.spideysHover{
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top:90px;
    background-color: #FFF;
}

.newsletter{
    top: 0px;
    background-color: #234499;

}
.fondoNewsLetter{
    top: 700px;
}

.fondoNewsLetter img{
    width: 100%;
    z-index: 700;
}

.fondoCiudadNewsLetter{
    position: absolute;
    top:580px;
}

.contenidoNewsLetter{
    padding-top: 100px;
    position: absolute;
    top: 0px;
    left:100px;
    color: #000;
    z-index: 701;
    text-align: center;
}

.contenidoNewsLetter>p{
    text-align: left;
    margin-left: 200px;
}

.contenidoNewsLetter>p>a{
    color: #000;
    text-decoration: underline;
}
.inputForm{   
    display: flex; 
    width: 780px;
    height:100px;
    margin: 45px auto;
}

.inputForm input::placeholder {
    padding-left: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
}

.inputLeft{
    width: 562px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982ff;
    border-bottom: 9px solid #2982ff;
    border-left: 9px solid #2982ff;
    background: #fff;
    box-sizing: border-box;
}

.inputRight{
    width: 218px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982ff;
    background: #ffe901;
    color: #02187e;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px; 
    -webkit-text-stroke: 2px;
}

.rating {
    width: 231px;
    height: 145px;
    margin: 20px 0px 0px 200px;
}

.rating img{
    width: 100%;
}

.spriteSheet{
    position: absolute;
    bottom: 100px;
    left:550px;
    width: 80px;
    height: 90px;
    background: url('../img/sprite.png') left center;
    animation: caminar 1s steps(9) infinite ;
}

.spriteSheet:hover{
    background: url('../img/sprite2.png') left center;
    animation: susto 1s steps(12) infinite ;
}


.separadorFooter {
    position: relative;
    background: #242424;
    height: 80px;
    top:0px;
}

.footer {
    height: 598px;
    top:0px;
    background: #5E5E5D;
}

.footer>.fixed>p{
    color: #FFF;
    font-size: 20px;
    letter-spacing: 2.2px;
    font-style:normal;
    font-weight: 400;
    line-height: 94.5%;
}

.footer>.fixed>p:first-child {
    padding-top: 42px;
}

.footer>.fixed>p:nth-child(2) {
    margin-top: 35px;
    text-decoration: underline;
}

.socialMedia{
    margin-top: 38px;
}

.showUp{
    animation: showUp ease .8s forwards;
}

@keyframes cambioColor{
    from {background-color: #FF0000;}
    to {background-color: #5499F9;}
}

@keyframes stickyCard{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes showUp{
    0% {
        opacity:0;
        translate:0 70vh;
    }
    25% {
        opacity: 0.45;
    }
    50%{ 
        opacity: 0.75;
    }
    75% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        translate:0 0vh;
    }
}

@keyframes demoIn{
    0%{
        transform: skew(0, 0);
    }
    100%{
        transform: skew(0.03turn, 2deg);
    }
}

@keyframes demoOut{
    0%{
        transform: skew(0.03turn, 2deg);
    }
    100%{
        transform: skew(0, 0);
    }
}

@keyframes caminar {
    0%{
        background-position: 0px;
    }
    100% {
        background-position: -720px;
    }    
}

@keyframes susto {
    0%{
        background-position: 0px;
    }
    100% {
        background-position: -960px;
    }    
}

@keyframes tembleke {
    0% { 
      transform: rotate(3deg);
      transform: scale(100%);
      color: #02187E;
    }
    10%{
        transform: rotate(-3deg);
        transform: scale(104%);
    }
    20%{
        transform: rotate(3deg);
        transform: scale(108%);
    }
    30%{
        transform: rotate(-3deg);
        transform: scale(112%);
    }
    40%{
        transform: rotate(3deg);        
    }
    50% {
     transform: rotate(-3deg);     
     color:#027e2f
    }
    60%{
        transform: rotate(-3deg);
    }
    70% {
      transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    90% {
        transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
      transform: scale(100%);
      color: #02187E ;
    }
  }